!build/
!build/appimage
build/appimage/compile
build/appimage/appimage-builder-cache
build/appimage/AppDir
build/appimage/appdir.7z
build/appimage/.*
build/ogs/Widelands
build/ogs/compile
!build/macos
!build/win32
!build/build.txt
build/compile
*.AppImage
*.pyc
*.sw?
VERSION
data
locale
widelands
